@tailwind base;
@tailwind components;
@tailwind utilities;

.llnp {
  @apply font-[600] text-[28px] leading-[33px] text-[#E4D5FF] mb-[16px];
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}